@font-face {
  font-family: "Ultra";
  src: local("Ultra"), url(./assets/fonts/Ultra.otf) format("opentype");
}

h1 {
  font-family: Ultra;
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
